.title {
  font-weight: 900;
  font-size: 1.1em;
  color: white;
}
.fa-eye {
  color: white;
  font-size: 2rem;
  transform: rotate(45deg);
}

nav h2 {
  color: white;
  font-size: 20px;
  margin-right: 50px;
}
/* body {
} */


